@charset "UTF-8";

body{
  background-image: url(bg.jpg);
}

.main-menu{
  background-repeat: no-repeat;
  background-position: fixed;
  background: none;
}

.menu-bar{
  margin-bottom: 50px;
  top: 50px;
}
