@charset "UTF-8";

body, html{
  height: 100%;
}

.menu{
  padding: 5px;
  margin-bottom: 0px;
  background-color: rgba(0, 0, 80, 1);
}

.menu-bar{
  margin-bottom: 10px;
}

.btn{
  padding: 0px;
}

.hero-image{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(dc.jpg), no-repeat center center fixed ;
  height: 95%;
  background-size:cover;
  background-position:center;
}

.hero-image img{
  width: 30%;
}

footer{
  background-color: rgba(0, 0, 40, 1);
  padding: 25px;
  text-align: center;
  color: white;
}

  /*versão mobile*/
@media screen and (max-width: 600px) {
  .hero-image{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(dcmobile.jpg), no-repeat center center fixed ;
    height: 40%;
    background-size:cover;
    background-position:center;
  }

  .hero-image img{
    width: 30%;
  }

  .menu-bar{
    margin-bottom: 10px;
  }

/*versão tablet*/
@media screen and (min-width: 601px) {
  .hero-image{
    height: 5%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(dctablet.jpg), no-repeat center center fixed ;
    background-size:cover;
  }

  .menu-bar{
    margin-bottom: 10px;
  }

  .hero-image img{
    width: 30%;
  }
}
