@charset "UTF-8";

body, html{
  height: 100%;
}

nav{
  background-color: black;
}

.menu{
  margin-bottom: 0px;
  padding-top: 5px;
  background-color: rgba(0, 0, 80, 1);
}

.menu-bar{
  margin-bottom: 20px;
}

.btn{
  padding: 0px;
}

.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(dc.jpg);
  height: 91.5%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.logo img{
  max-width: 25%;
}

.icon-menu{
  padding: 0px;
  margin-top: 0px;
}

footer{
  background-color: rgba(0, 0, 40, 1);
  padding: 25px;
  text-align: center;
  color: white;
}

/*mobile version*/
@media screen and (max-width: 600px) {
  .icon-menu{
    display: none;
  }

}
